@{
    // 404 Not Found
    //
    // This view was added by NotFoundMVC
    // For inspiration see: https://www.google.be/search?q=example+404+page
    //
    // The following properties are available in the ViewBag:
    // ViewData["RequestedUrl"]
    // ViewData["ReferrerUrl"]
    //

    ViewBag.Title = "Page Not Found";
}

<h1 class="text-danger">Page Not Found :(</h1>

<p><b>Could not find the page:</b> <i>@ViewBag.RequestedUrl</i></p>
<p>Go back to the <a href="/">home page</a>.</p>
@if (ViewBag.ReferrerUrl != null)
{
    <p>Or go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it. So add padding in case we're short. *@
@(new string(' ', 512))