body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo-img {
    height: 50px;
    top: -1px;
    position: relative;
}

.page-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    text-align: center;
}

    .page-title:before, .page-title:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
        color: #e5e5e5;
    }

    .page-title:before {
        margin-right: 10px;
    }

    .page-title:after {
        margin-left: 10px;
    }

.custom-form-div {
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-left: 150px;
}

@media only screen and (max-width: 768px) {
    /* Mobile css */
    .custom-form-div {
        border: 1px solid transparent;
        border-radius: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 575px) {
    #logo-img {
        content: url('../Images/Mobile Memento Health-logo.svg');
        top: -1px;
    }

    .body-content {
        min-height: calc(100vh - 190px) !important;
    }
}

@media (hover: none) {
    #home-header {
        background-attachment: initial;
    }
}

.table {
    margin-bottom: 0;
}

.body-content {
    min-height: calc(100vh - 170px);
}

footer {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-custom .navbar-nav .nav-link {
    color: #f9f6f7;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ebeaea;
}

.btn-primary {
    background-color: #5466af;
    border-color: #5466af;
}

    .btn-primary:hover {
        background-color: #5466af !important;
        border-color: #5466af !important;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    }

    .btn-primary:focus {
        background-color: #5466af !important;
        border-color: #5466af !important;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    }

    .btn-primary:active {
        background-color: #5466af !important;
        border-color: #5466af !important;
    }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgb(84 102 175 / 0.10);
}

a, input.btn.btn-link {
    color: #3952ba;
    text-decoration: none;
}

    a:hover, input.btn.btn-link:hover {
        color: #0e2fb7;
        text-decoration: underline;
    }

    a:focus, input.btn.btn-link:focus {
        color: #0024b6;
        text-decoration: underline;
    }

    a:active, input.btn.btn-link:active {
        color: #0024b6;
        text-decoration: underline;
    }

    div.shadow.bg-light {
        margin-top: 7vh;
    }

/****** The following are for the selected point on the picture answer ******/

#img-wrapper {
    position: relative;
}

.img-point {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0px;
    height: 0px;
    font-size: 0;
}

    .img-point:before,
    .img-point:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 75px;
        background-color: red;
        transform: rotate(45deg) translate(-50%, -50%);
        transform-origin: top left;
        content: '';
        outline-offset: -2px;
        outline-width: 2px;
        outline-color: yellow;
        outline-style: dotted;
    }

    .img-point:after {
        transform: rotate(-45deg) translate(-50%, -50%);
    }

/*********************** Up to here ************************/