body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo-img {
    height: 50px;
    top: -3px;
    position: relative;
}

.page-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    text-align: center;
}

.page-title:before, .page-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    color: #e5e5e5;
}

.page-title:before {
    margin-right: 10px;
}

.page-title:after {
    margin-left: 10px;
}

.custom-dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
}

.custom-dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.custom-dd {
    flex: 0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
}
.navbar {
   -webkit-box-shadow: -1px 0 5px 0 rgba(0,0,0,.25);
   box-shadow: -1px 0 5px 0 rgba(0,0,0,.25);
}