@{ViewBag.Title = "Registration Success";}

<div class="row d-flex justify-content-center">
    <div class="form-div shadow bg-light text-center">

        <h2>Account created successfully!</h2>
        <p>Please check your email for an email verification link.</p>

    </div>
</div>

