@{
    ViewBag.Title = "About";
}

<h1>About Memento Health</h1>

<p>
    Memento Health was created as a new, user-friendly way for healthcare providers to create, edit, and distribute patient forms. Using our service, you'll be able to create forms for your patients
    that are easy to read and understand, as well as simple for your staff to use. The memento team consists of:
    Sarmad Barya, William Buerkle, Camron Farida, Yonatan Mankovich, Mahmudur Rahman, and Tristan Swick
</p>
<u><h2>What we're about</h2> </u>
<h4>Fully customizable forms</h4>
<p>
    We believe that taking the best care of your patients starts with them. That's why Memento Health boasts the latest and greatest in customizable forms for patient information, so you and those under your care can start on the right foot every time.
</p>
<h4 class="mt-3">Completely modular</h4>
<p>
    Need something changed? With Memento Forms, it's as easy as logging in, making the change, and saving. Just like that, you'll be able to add or remove whatever information you'd like to get from your patients.
</p>
<h4 class="mt-3">Flow charts</h4>
<p>
    To help the form creation process, Memento Health includes a flow chart of the logical path from your questionnaires! No more wondering how one question leads to another!
</p>
