@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Memento Health Forms</h3>

<p>
    Memento Health was created as a new, user-friendly way for healthcare providers to create, edit, and distribute patient forms. Using our service, you'll be able to create forms for your patients
    that are easy to read and understand, as well as simple for your staff to use. The memento team consists of:
    Sarmad Barya, William Buerkle, Camron Farida, Yonatan Mankovich, Mahmudur Rahman, and Tristan Swick
</p>
