@{
    ViewBag.Title = "Home";   
}
<section id="home-header" class="header">

    <div class="text-box">
        <h1>Reach your healthcare potential!</h1>
        <p>Create fully customizable forms to collect patient information and data </p>
        <a href="~/Account/Register" class="hero-btn">Register Now</a>
    </div>
</section>

<section class="features">
    <h1>Features</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="features-column">
                <i class="fa fa-check-circle" style="font-size: 40px" aria-hidden="true"></i>
                <h3>Intuitive</h3>
                <p>
                    We made sure to develop our form creator to be simple to use and intuitive. There is absolutely
                    no coding required, yet you can still create advanced forms that match what your looking for. Thanks 
                    to Memento Health, healthcare has gotten a whole lot easier!
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="features-column">
                <i class="fa fa-puzzle-piece" style="font-size: 40px" aria-hidden="true"></i>
                <h3>Customizable</h3>
                <p>
                    Our forms come with a wide range of options that will enable the healtchcare provider to create
                    any type of form needed. Whether you need a simple form to collect patient information or a long 
                    form to get a wide range of information, Memento Health has you covered.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="features-column">
                <i class="fa fa-lock" style="font-size: 40px" aria-hidden="true"></i>
                <h3>Secure</h3>
                <p>
                    Memento Health has been built from the ground up with security in mind. We know that protecting patient data
                    is important and we made sure to develop our service as such. We have done a wide range of security tests 
                    from the beginning to ensure our service is secure.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="clients">
    <h1>Client Testimonials</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Images/yonatan.jpg" class="rounded-circle my-3">

                </div>
                <div class="col-md-9 pl-5">
                    <blockquote>
                        <i class="fa fa-quote-left fa-fw" style="font-size: 24px; color: #4b0eff" aria-hidden="true"></i>
                        Since we started using Memento Health, we have improved our intake process. We can now help more patients and provide better
                        care thanks to Memento Healths advanced form creator. I cant recommend this service enough!
                        <hr color="#4b0eff">
                        <cite>&#8212; Yonatan, Clinic Manager</cite>
                    </blockquote>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Images/camron.png" class="rounded-circle my-3">

                </div>
                <div class="col-md-9 pl-5">
                    <blockquote>
                        <i class="fa fa-quote-left fa-fw" style="font-size: 24px; color: #4b0eff" aria-hidden="true"></i>
                        Memento Health has been a great addition to our hospital. Utilizing forms, I am now able to get much more
                        patient information prior to metting with them. This allows me time to research and prepare for my patients.
                        <hr color="#4b0eff">
                        <cite>&#8212; Camron, Doctor</cite>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>

</section>


@section styles
{
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .body-content {
            padding-left: 0px;
            padding-right: 0px;
        }

        .header {
            min-height: 100vh;
            width: 100%;
            background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,40,0.7)),url('../../Images/waiting_room.svg');
            background-position: center;
            background-size: cover;
            position: relative;
            background-attachment: fixed;
            top: -16px;
        }

        .row {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
        }

        .text-box {
            width: 90%;
            color: #ffffff;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }

            .text-box h1 {
                font-size: 62px;
                font-weight: 600;
            }

            .text-box p {
                margin: 20px 0 40px;
                font-size: 14px;
                color: #ffffff;
            }

        .hero-btn {
            display: inline-block;
            text-decoration: none;
            color: #ffffff;
            border: thin solid #ffffff;
            border-radius: 12px;
            padding: 12px 34px;
            font-size: 13px;
            background: transparent;
            position: relative;
            cursor: pointer;
        }

            .hero-btn:hover {
                border: thin solid #334692;
                color: #ffffff;
                text-decoration: none;
                background: #5065ad;
                transition: 1s;
            }

        .features {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 75px;
        }

            .features h1 {
                font-size: 36px;
                font-weight: 600;
            }

                .features h1::after {
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: #4800ff;
                    display: block;
                    margin: auto;
                    margin-top: 25px;
                    margin-bottom: 50px;
                    position: center;
                }

        .features-column {
            flex-basis: 31%;
            border-radius: 15px;
            background-color: #ffffff;
            margin-bottom: 5%;
            padding: 20px 12px;
            box-sizing: border-box;
            transition: 0.5s;
        }

            .features-column:hover {
                box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
            }

            .features-column h3 {
                font-size: 18px;
                font-weight: 600;
                padding: 10px;
                text-align: center;
            }

            .features-column p {
                color: #777;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                padding: 10px;
            }

        .clients {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }


            .clients h1 {
                font-size: 36px;
                font-weight: 600;
            }

                .clients h1::after {
                    content: '';
                    width: 50px;
                    height: 3px;
                    background: #4800ff;
                    display: block;
                    margin: auto;
                    margin-top: 25px;
                    margin-bottom: -10px;
                    position: center;
                }
    </style>
}