@model IEnumerable<MementoHealth.Entities.Patient>

@{
    ViewBag.Title = "Patients";
}


<div class="text-center">
    <div class="h2 page-title font-weight-bold"><i class="fa fa-users"></i>&nbsp;@ViewBag.Title</div>
    <div class="text-secondary">
        <a href="@Url.Action("Create")"><i class="fa fa-user-plus"></i> Add</a> |
        <a href="@Url.Action("Import")"><i class="fa fa-download"></i> Import</a> |
        <a href="@Url.Action("Search")"><i class="fa fa-search"></i> Search</a>
    </div>
    <hr />
</div>

@Html.Partial("_PatientsTablePartial", Model)