@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    ViewBag.Title = "All Form Submissions";
    ViewBag.UseFullScreenWidth = true;
}

<div class="h2 page-title font-weight-bold text-center">@ViewBag.Title</div>


@Html.Partial("_SubmissionsTablePartial", Model)