@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    ViewBag.Title = "All Form Submissions";
    ViewBag.UseFullScreenWidth = true;
}

<div class="page-title font-weight-bold h2">@ViewBag.Title</div>

@Html.Partial("_SubmissionsTablePartial", Model)