@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    ViewBag.Title = "All Form Submissions";
    ViewBag.UseFullScreenWidth = true;
}

<div class="titleCard container">
    <div class="text-center p-3" style="background-color: #e0e2eb; position: center; border-radius: 20px 20px 0px 0px">
        <div class="h2 page-title font-weight-bold text-center"><i class="fa fa-check-square-o"></i>&nbsp;@ViewBag.Title</div>
    </div>
</div>

@Html.Partial("_SubmissionsTablePartial", Model)