@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    Form form = Model.First().Form;
    ViewBag.Title = "Submissions for " + form.Name;
    ViewBag.UseFullScreenWidth = true;
    ViewBag.HideForm = true;
}

<div class="box text-center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
    <div style="margin-top:-20px; margin-bottom: 20px">@Html.ActionLink("Back to Forms", "Index", "Forms")</div>
</div>

@Html.Partial("_SubmissionsTablePartial", Model)