@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    Form form = Model.First().Form;
    ViewBag.Title = "Submissions for " + form.Name;
    ViewBag.UseFullScreenWidth = true;
    ViewBag.HideForm = true;
}

<div class="text-center">
    <div class="h2 page-title font-weight-bold">@ViewBag.Title</div>
    <div class="text-secondary">
        @Html.ActionLink(" Back to Forms", "Index", "Forms", new { @class = "fa fa-arrow-circle-left text-dark" })
    </div>
</div>
<hr />

@Html.Partial("_SubmissionsTablePartial", Model)