@model IEnumerable<FormSubmission>
@{
    Form form = Model.First().Form;
    ViewBag.Title = "Submissions for " + form.Name;
    ViewBag.UseFullScreenWidth = true;
    ViewBag.HideForm = true;
}

<div class="text-center">
    <div class="h2 page-title font-weight-bold">@ViewBag.Title</div>
    <div class="text-secondary">
        <a href="@Url.Action("Index", "Forms")"><i class="fa fa-chevron-circle-left"></i> Back to Forms</a>
    </div>
    <hr />
</div>

@Html.Partial("_SubmissionsTablePartial", Model)