@using MementoHealth.Entities
@model IEnumerable<FormSubmission>
@{
    Patient patient = Model.First().Patient;
    ViewBag.Title = "Submissions by " + patient.FullName;
    ViewBag.UseFullScreenWidth = true;
    ViewBag.HidePatient = true;
}
<div class="box text-center">
    <div class="page-title font-weight-bold h2">@ViewBag.Title</div>
    <div style="margin-top:-20px; margin-bottom: 20px">
        @Html.ActionLink("Back to Patients", "Index", "Patients") |
        @Html.ActionLink("Start new", "Start", "Submissions", new { id = patient.PatientId }, null)
    </div>
</div>

@Html.Partial("_SubmissionsTablePartial", Model)